/*Travel Styling Here */

@viewport {
    width: device-width;
    zoom: 1.0;
}
/*html, body styled to be the same size as the view port */
html, body {
    height: 100%;
    padding:0;
    margin: 0;
    /* background-image: url("../images/brown_background.jpg") */
}

.slidetitle {

    padding: 10% 10% 0;
}

.slidecontent {

    padding: 10%;
}

#pres1 {
    background-image: linear-gradient(45deg,rgb(187, 137, 187),rgb(102, 117, 134));
    background-size: 400%;
    animation-name: BackgroundAnimator;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#pres2 {
    background-image: linear-gradient(45deg,rgb(102, 117, 134),rgb(199, 166, 106));
    background-size: 400%;
    animation-name: BackgroundAnimator;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#pres3 {
    background-image: linear-gradient(45deg,rgb(199, 166, 106),rgba(180, 172, 166,1));
    background-size: 400%;
    animation-name: BackgroundAnimator;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}



/* Font Styling */
h1 {
    /* font-family: 'harabarahanditalic', Arial, sans-serif; */
    font-family: 'Gloria Hallelujah', cursive;
    font-weight:normal;
    font-style:normal;
    font-size: 3em;
    margin: 3% 0% 3%;
}

h5 {
    font-family: 'Gloria Hallelujah', cursive;
}
       
p {
font-family: 'Pompiere', cursive;
font-size: 2em;
font-weight: bold;
}

/*Button Styling */
button {
    background-color: rgb(0,0,0,0);
    border: 2px solid rgb(0,0,0,0);
    font-family: 'Pompiere', cursive;
}

button:hover {
    font-family: 'Pompiere', cursive;
    font-weight: bold;
}

/*General Class Styling*/
/*Grid Styling - Containers/rows/columns*/
.container-fluid {
    height: 100%;
    text-align: center;
    padding: auto;
    margin: auto;
    z-index: 0;
}

/*The row styling sets the heights of the rows, setting the grids on each page*/
.row {
    height: 50%;
}

.row1, .row3 {
    height: 25%;
    }

.row5 {
    height: 50%;
}

.row4, .row6 {
    height: 25%
}

.row8 {
    height: 20%;
}

.row9 {
    height: 80%;
}
.row10, .row11, .row12 {
    height: 100%;
}


/*Background Globe*/
#globe1, #globe2, #globe3 {
    position: absolute;
    font-size: 8000%;
    top: 2%;
    left: 2%;
    opacity: 0;
    z-index: 1;
    color: rgb(255,255,255,0.2);
    pointer-events: none; 
}
/*Background Globe*/
.backgroundGlobe {
    z-index: 1;
}



/*Weather Results*/
.weatherReport {
    padding: 3%;
    font-size: 1.5em;
}

/*User Input Cards*/
.card-body {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.35);
    border: 5px ridge rgba(120, 153, 130,0.35);
    border-radius: 15px;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    z-index: 2;
}

/*Icon Styling*/
.cityIcon {
    font-size: 3em;
    margin: 5%;
    opacity: 0.8
}

.foodIcon {
    font-size: 1em;
    margin: 1%;
    opacity: 0.8
}

/*Title text on the cards*/
.card-title {
    font-size: 2em;
}

/*This the class for the text input fields.*/
.formInput {
    text-align: center;
    margin: auto;
    width: 100%;
    border: 2px solid rgb(0,0,0,0);
    border-bottom: 2px solid rgb(0,0,0,1);
    outline: none;
    background-color: rgb(0,0,0,0);
    font-family: 'Pompiere', cursive;
    font-size: 1.8em;
}

.formInput:focus, input:focus {
    border: 2px solid rgb(0,0,0,0);
    border-bottom: 2px solid rgb(0,0,0,1);
    outline: none;
}

form {
    z-index: 2;
}

/*Button Styling - this the class for the next buttons*/
.primaryBtn {
    margin-top: 3%;
    background-color: rgb(100, 100, 100, 0);
    color: black;
    padding: 2% 6%;
    border: 2px solid rgb(100, 100, 100, 1);
    outline: none;
    font-size: 1.5em;
    font-family: 'Pompiere', cursive;
}

.primaryBtn:hover {
    text-decoration: none;
    color: white;
    border: 2px solid rgb(100, 100, 100, 0);
    outline: none;
    background-image: linear-gradient(45deg,rgba(120, 153, 130,1),rgb(102, 117, 134, 1));
    animation-name: BackgroundAnimator;
    animation-duration: 1s;
    animation-iteration-count: infinite
}

button:focus, .primaryBtn:focus, button:active, .primaryBtn:active, button:visited, .primaryBtn:visited {
   outline: none;
   background-color: rgb(100, 100, 100, 0)
}

/*This is the styling for the food buttons*/
ul {
    list-style-type: none;
    z-index: 2;
}
/*This is the styling for the food buttons*/
li {
    border: 2px solid rgb(0,0,0,0);
    display: inline-block;
}

/*This is the styling for the food buttons*/
.foodBtn {
    font-size: 1.2em;
    z-index: 3;
}
/*This is the styling for the restuarant results*/
.restOptions {
    display: inline-block;
    margin: 2%;
}
/*This is the styling for the restuarant results*/
.restLink {
    text-decoration: none;
    color: black;
    border: 2px solid rgb(0,0,0,0);
    padding: 1%;
    font-size: 1.1em;
}
/*This is the styling for the restuarant results*/
.restLinkNight {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid rgb(255,255,255,0);
    padding: 1%;
    font-size: 1.1em;
}
/*This is the styling for the restuarant results*/
.restLink:hover {
    text-decoration: none;
    animation-name: linkHoverDay;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
/*This is the styling for the restuarant results*/
.restLinkNight:hover {
    text-decoration: none;
    animation-name: linkHoverNight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
/*This is the styling for the restuarant results*/
@keyframes linkHoverDay {
    0% { font-size: 1.1em;
         border: 2px solid rgb(0,0,0,0);
         color: black}
    100% {font-size: 1.2em;
          border: 2px solid rgb(0,0,0,1);
          color: black;}
}
/*This is the styling for the restuarant results*/
@keyframes linkHoverNight {
    0% { font-size: 1.1em;
         border: 2px solid rgb(255,255,255,0);
         color: white}
    100% {font-size: 1.2em;
          border: 2px solid rgb(255,255,255,1);
          color: white;}
}


/*ID Styling */

/*These are the background colors used in the containers*/

@keyframes BackgroundAnimator {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}

#page1 {
    background-image: linear-gradient(45deg,rgba(180, 172, 166,1),rgba(120, 153, 130,1));
    background-size: 400%;
    animation-name: BackgroundAnimator;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#page2 {
    background-image: linear-gradient(45deg,rgba(120, 153, 130,1),rgb(102, 117, 134));
    background-size: 400%;
    animation-name: BackgroundAnimator;
    animation-duration: 10s;
    animation-iteration-count: infinite
}

#page4, .row9, .row10, .row11, .row12 {
    background-image: linear-gradient(45deg,rgb(116, 105, 98),rgba(180, 172, 166,1)); 
    color: black;
    background-size: 400%;
    animation-name: BackgroundAnimator;
    animation-duration: 10s;
    animation-iteration-count: infinite
}

#mapContainer {
    height: 600px;
    width: 1000px;
    margin: auto;
    padding: 5%;
}

#page1Center {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.35);
    border: 5px ridge rgba(180, 172, 166,0.35);
    border-radius: 15px;
    z-index: 2;
}

/*This is the styling for results page title text*/
#resultTitle {
    margin-bottom: 0;
}

/*This is extra styling for the username input field*/
#userIn {
    margin-top: 5%;
    height: 2em;

}

/*This is extra styling for the city name input field*/
#cityIn {
    width: 50%;
    text-transform: capitalize;
}

#searchWidget {
    margin: auto;
}

#pres1Center {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.35);
    border: 5px ridge rgba(180, 172, 166,0.35);
    border-radius: 15px;
    z-index: 2;
}

#pres2Center {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.35);
    border: 5px ridge rgba(180, 172, 166,0.35);
    border-radius: 15px;
    z-index: 2;
}

#pres3Center {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.35);
    border: 5px ridge rgba(180, 172, 166,0.35);
    border-radius: 15px;
    z-index: 2;
}

/*Modal Styling Fix. We did not write this code. Source: https://github.com/shlomiassaf/ngx-modialog/issues/280 */
.fade.in {
    opacity: 1;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-backdrop.in {
    opacity: 0.5;
}
