/*Travel Styling Here */
/* @viewport {
    width: device-width;
    zoom: 1.0;
} */

/*html, body styled to be the same size as the view port */
html, body {
    height: 100%;
    padding:0;
    margin: 0;
}

/*Title on presentation slide 1 */
.slidetitle {

    padding: 50px 20px 0px;
    font-size: 4em;
}

/* Body text on presentation slides. */
.slidecontent {

    padding: 0px 20px 20px;
    font-size: 2.5em;
}

/* Body text on presentation slides. */
.slidecontent:first-of-type {
    margin-top: 25px;
}

/* Body text on presentation slides. */
.slide2, .slide3 {

    padding-top: 70px;

}

/* Presentation Slide 1 Container Styling */
#pres1 {
    background-image: linear-gradient(45deg,rgb(187, 137, 100),rgb(102, 117, 134));
    background-size: 400%;
    animation-name: BackgroundAnimator;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* Presentation Slide 2 Container Styling */
#pres2 {
    background-image: linear-gradient(45deg,rgb(102, 117, 134),rgb(199, 166, 106));
    background-size: 400%;
    animation-name: BackgroundAnimator;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* Presentation Slide 3 Container Styling */
#pres3 {
    background-image: linear-gradient(45deg,rgb(199, 166, 106),rgba(180, 172, 166,1));
    background-size: 400%;
    animation-name: BackgroundAnimator;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* Font Styling */
h1 {
    /* font-family: 'harabarahanditalic', Arial, sans-serif; */
    /* font not used*/
    font-family: 'Gloria Hallelujah', cursive;
    font-weight:normal;
    font-style:normal;
    font-size: 3em;
    margin: 3% 0% 3%;
}

h5 {
    font-family: 'Gloria Hallelujah', cursive;
}
       
p {
font-family: 'Pompiere', cursive;
font-size: 2em;
font-weight: bold;
}

/*Button Styling */
button {
    background-color: rgb(0,0,0,0);
    border: 2px solid rgb(0,0,0,0);
    font-family: 'Pompiere', cursive;
}

button:hover {
    font-family: 'Pompiere', cursive;
    font-weight: bold;
}

/*General Class Styling*/
/*Grid Styling - Containers/rows/columns*/
.container-fluid {
    height: 100%;
    text-align: center;
    padding: auto;
    margin: auto;
    z-index: 0;
}

/*The row styling sets the heights of the rows, setting the grids on each page*/
.row {
    height: 50%;
}

.row1, .row3 {
    height: 25%;
    }

.row5 {
    height: 50%;
}

.row4, .row6 {
    height: 25%
}

.row8 {
    height: 20%;
}

.row9 {
    height: 80%;
}
.row10, .row11, .row12 {
    height: 100%;
}


/*Background Globe*/
#globe1, #globe2, #globe3 {
    position: absolute;
    font-size: 8000%;
    top: 2%;
    left: 2%;
    opacity: 0;
    z-index: 1;
    color: rgb(255,255,255,0.2);
    pointer-events: none; 
}
/*Background Globe*/
.backgroundGlobe {
    z-index: 1;
}

/*User Input Cards*/
.card-body {
    background-image: url("../images/linedpaper.png");
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
    border: 2px dashed rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    z-index: 2;
}

/*Icon Styling*/
.cityIcon {
    font-size: 3em;
    margin: 5%;
    opacity: 0.8
}

.foodIcon {
    font-size: 1em;
    margin: 1%;
    opacity: 0.8
}

/*Title text on the cards*/
.card-title {
    font-size: 2em;
}

/*This the class for the text input fields.*/
.formInput {
    text-align: center;
    margin: auto;
    width: 100%;
    border: 2px solid rgb(0,0,0,0);
    border-bottom: 2px solid rgb(0,0,0,1);
    outline: none;
    background-color: rgb(0,0,0,0);
    font-family: 'Pompiere', cursive;
    font-size: 1.8em;
}

.formInput:focus, input:focus {
    border: 2px solid rgb(0,0,0,0);
    border-bottom: 2px solid rgb(0,0,0,1);
    outline: none;
}

form {
    z-index: 2;
}

/*Button Styling - this the class for the next buttons*/
.primaryBtn {
    margin-top: 3%;
    color: black;
    padding: 2% 6%;
    border: 2px solid rgb(100, 100, 100, 1);
    outline: none;
    font-size: 1.5em;
    font-family: 'Pompiere', cursive;
}

.primaryBtn:hover {
    text-decoration: none;
    color: white;
    border: 2px solid rgb(100, 100, 100, 0);
    outline: none;
    background-image: linear-gradient(45deg,rgba(120, 153, 130,1),rgb(102, 117, 134, 1));
}

button:focus, .primaryBtn:focus, button:active, .primaryBtn:active, button:visited, .primaryBtn:visited {
   outline: none;
   border: 2px solid rgb(100, 100, 100, 0);
}

/* This is the skip presentation button */
.skipBtn {
    position: fixed;
    bottom: 0px;
    background-color: none;
    border: 2px solid black;
    height: 30px;
    padding: 5px;
}

.skipBtn:hover {
    position: fixed;
    bottom: 0px;
    background-color: black;
    color: white;
    border: 2px solid black;
    height: 30px;
    padding: 5px;
}

/*This is the styling for the food buttons*/
ul {
    list-style-type: none;
    z-index: 2;
}
/*This is the styling for the food buttons*/
li {
    border: 2px solid rgb(0,0,0,0);
    display: inline-block;
}

/*This is the styling for the food buttons*/
.foodBtn {
    font-size: 1.2em;
    z-index: 3;
}

/*This is the styling for the restuarant results*/
.restOptions {
    display: inline-block;
    margin: 2%;
    background-image: url("../images/linedpaper.png");
    text-decoration: none;
    color: black;
    border: 2px dashed rgb(0,0,0,0.5);
    padding: 1%;
    font-size: 1.4em;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.5);
}

/*This is the styling for the restuarant results*/
.restOptions:hover {
    text-decoration: none;
    animation-name: linkHover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* This is the styling for the red pins on the app */
.pinLeft {
    float: left;
    color: darkred;
    font-size: 1.5em;
    transform: rotate(30deg);
    text-shadow: 3px 2px rgba(0,0,0,0.25);
}

/* This is the styling for the red pins on the app */
.pinRight {
    float: right;
    color: darkred;
    font-size: 1.5em;
    transform: rotate(30deg);
    text-shadow: 3px 2px rgba(0,0,0,0.25);
}

/*This is the styling for the restuarant results*/
@keyframes linkHover {
    0% {transform: rotate(0deg);
        transform-origin: top left}
    50% {transform: rotate(3deg);
        transform-origin: top left}
    100% {transform: rotate(0deg);
        transform-origin: top left}
}


/*ID Styling */

/*Background Animator is keyframe saved from another page that shifts the background around for you. With a linear-gradient it makes magic!*/

@keyframes BackgroundAnimator {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}

/* This is the styling for the red pins on the app */
#page1, #page2, #page4, .row10, .row11, .row12 {
    background-image: url("../images/cork_brown.jpg")
}

/* This is the styling and frame for the map */
#mapContainer {
    border: 25px ridge rgb(90, 75, 75);
    height: 100%;
    width: 90%;
    display: block;
    margin: auto;
}

/* This is from the HERE maps API site */
.here-maps  {
    max-width: none;
}
/* This is from the Scroll Reveal site */
html.sr .load-hidden {
    visibility: hidden;
}

/* This is the styling for the content section on page 1 */
#page1Center {
    background-image: url("../images/linedpaper.png");
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
    border: 2px dashed rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    z-index: 2;
}

/*This is the styling for results page title text*/
#resultTitle {
    margin-bottom: 0;
}

/*This is extra styling for the username input field*/
#userIn {
    margin-top: 3%;
    height: 2em;
}

/* These are the pinned titles on page 4. */
.page4Title {
    background-image: url("../images/linedpaper.png");
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
    border: 2px dashed rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin: 3% auto;
    padding: 1%;
    width: 40%;
}

/*This is extra styling for the city name input field*/
#cityIn {
    width: 50%;
    text-transform: capitalize;
}

/* This is the flight/hotels widget */
#searchWidget {
    border: 25px ridge rgb(90, 75, 75);
    margin: auto;
    background-image: url("../images/linedpaper.png");
}

/* This is the styling for the content section on presentation page 1 */
#pres1Center {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.35);
    border: 5px ridge rgba(180, 172, 166,0.35);
    border-radius: 35px;
    z-index: 2;
}

/* This is the styling for the content section on presentation page 2 */
#pres2Center {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.35);
    border: 5px ridge rgba(180, 172, 166,0.35);
    border-radius: 35px;
    z-index: 2;
}

/* This is the styling for the content section on presentation page 3 */
#pres3Center {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.35);
    border: 5px ridge rgba(180, 172, 166,0.35);
    border-radius: 35px;
    z-index: 2;
}

/*Modal Styling Fix. We did not write this code. Source: https://github.com/shlomiassaf/ngx-modialog/issues/280 */
.fade.in {
    opacity: 1;
}
/*Modal Styling Fix. We did not write this code. Source: https://github.com/shlomiassaf/ngx-modialog/issues/280 */

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
/*Modal Styling Fix. We did not write this code. Source: https://github.com/shlomiassaf/ngx-modialog/issues/280 */
.modal-backdrop.in {
    opacity: 0.5;
}

/* This is the Media Query Section */

/* Small Devices, Tablets */

@media only screen and (max-width : 480px) {
    .col-6 {
        font-size: 5px;
    }
}

@media only screen and (max-width : 768px) {
    .col-6 {
        font-size: 0.8em;
    }
    .card-body {
        width: 80%;
        display: block;
    }
    .page4Title {
        width: 80%;
        margin-bottom: 5%;
    }

    .slidetitle {
        font-size: 2.5em;
        text-align: center;
        margin: 10% auto 5% -5%;
    }

    .slidecontent {

        padding: 0px 10px 10px;
        font-size: 2em;
    }

    .slidecontent:first-of-type {
        margin-top: 25%;
    }

    #userIn {
        margin-top: 20%;
    }

    .row4 {
        height: 1%;
    }

    .row6 {
        height: 40%;
    }

    p {
        font-size: 1.5em;
    }

    #resultTitle {
        font-size: 2em;
        margin-top: 5%;
    }

    .pinLeft, .pinRight {
        font-size: 1em;
    }

     
}

 
