/*Travel Styling Here */
html, body {
    height: 100%;
    padding:0;
    margin: 0;
}

.card-deck {
    background-color: red;
    height: 800px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;
}

.card-body {
    background-color: pink;
}

.btn-primary {
margin-top: 20px;
float: auto;

}

.cityInput {
margin: auto
}

.container-fluid {
    background-color: lightgray;
    font: tahoma 20px;
    height: 100%;
    text-align: center;
    padding: auto;
    margin: auto;
}

.row {
    height: 50%;
    border: 1px solid black;
}

.first {
    height: 100%
}


.col-6, .col-3, .col-4 {
    border: 1px solid black;
}

.row1, .row3 {
height: 25%;
}

.page-header {
text-align: center;
background-color: red
}